.tags{
    margin-top: 10px;
    margin-right: 10px;
    background-color: red;
    border-radius: 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.title{
    font-weight: bold;
}